*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
main{
    width: 100vw;
    height: 100vh;
}
.home, .project, .about, .contact{
    width: 100%;
    height: 100%;
}
.home{
    background: rgb(152, 172, 165);
   
}
.project{
    background: gray;
    
}
.about{
    background: rgb(255, 255, 255);
    
}
.contact{
    background: rgba(0, 0, 0, 0.899);
    
}

.home h2{
    display: flex;
    justify-content: center;
    padding: 25% 0;
}
strong > P{
    font-size: 1.5rem;
}
.project p{
    display: flex;
    justify-content: center;
    padding: 25% 5%;
}
.descrition-text{
    display: flex;
    justify-content: center;
    padding: 12.5% 5%;
}
.skils{
    list-style-type: none;
    padding: 0 20%;
}
.skils li{
    display: inline-block;
    padding: 0 1rem;
}

.skils a{
    text-decoration: none;
}
